@use '../css/base';

.task-container {
    background-color: honeydew;
    display: flex;
    flex-flow: column;
}

.page-title {
    width: fit-content;
    font-size: 4em;
    margin: 0 auto;
    padding-top: 20px;
}

.filters-container span {
    margin: 2em 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.filters-container button {
    padding: 0.5em 0.5em;
    font-size: 2.25em;
    font-weight: bold;
    border-radius: 0.5em;
}

.filter-selected {
    background-color: green;
    color: white;
}

.mini-container {
    border: 1px solid black;
    margin: 0 0 10px 0;
    padding: 10px;
    width: 95%;
    margin-left: 2.5%;
}

.current-task .mini-task-header {
    font-size: 3em;
    font-weight: normal;
}

.current-task .mini-task {
    font-size: 4em;
    font-weight: bold;
}

.mini-task-header {
    font-weight: 900;
    text-transform: capitalize;
    margin: 0 0 10px 0;
    font-size: 2em;
}

.mini-task {
    font-size: 1.8em;
    margin: 10px 0;
}

.mini-task::before {
    content: "[ ] ";
    font-weight: bold;
    font-family: "monospace";
}

.mini-task.completed::before {
    content: "[✔] ";
    color: #007382;
}

.past { background-color: #ff5722; }
.yesterday { background-color: lightsalmon; }
.today { background-color: #cddc39; }
.tomorrow { background-color: #2196f3; }
.future { background-color: lightseagreen; }

.create-class-button {
    background-color: #e6ffbf;
    border: 1px solid silver;
    border-radius: 50%;
    box-shadow: 0px 0px 9px -5px black;
    color: #178a40;
    font-size: 12em;
    font-weight: bolder;
    width: 8rem;
    height: 8rem;
    position: fixed;
    bottom: 6rem;
    right: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 1000px) {
    .task-container {
        margin: 20 auto;
        max-width: 1000px;
        border: 4px solid silver;
        border-radius: 5px;
    }

    .filters-container button {
        font-size: 1.75em;
    }

    .current-task .mini-task-header {
        font-size: 2em;
    }
    
    .current-task .mini-task {
        font-size: 3em;
    }

    .create-class-button {
        right: 18rem;
        font-size: 10rem;
        width: 7rem;
        height: 7rem;
    }
}
