@use '../css/base';

.task-container {
    margin: 0;
    display: flex;
    flex-flow: column;
    padding: 2rem;
}

.text {
    font-size: 4rem;
    margin-top: 3rem;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 5px;
}

.note {
    width: 100% !important;
    height: 15rem;
    font-size: 1.25rem;
    margin-top: 3rem;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 5px;
}

.datetime {
    font-size: 3rem;
    margin-top: 3rem;
    width: 75%;
    border: none;
}

.category {
    font-size: 3rem;
    border: none;
    margin-top: 3rem;
}

.repeat-wrapper {
    margin-top: 3rem;
    font-size: 3rem;
}

.repeat-value {
    font-size: 3rem;
    border: none;
}

.repeat-unit {
    font-size: 3rem;
    width: 25% !important;
    margin-top: 2rem;
}

.repeat-unit option {
    font-size: 1rem;
}

.repeat-type {
    font-size: 3rem;
    width: 75% !important;
    margin-top: 2rem;
}

.repeat-type option {
    font-size: 1rem;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-around;
}

.button {
    font-size: 2rem;
    width: 20%;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 0.5rem 0;
}

