@use '../../core/css/base';

.task-container {
    display: flex;
    flex-flow: column;
}

.page-title {
    width: fit-content;
    font-size: 2.5em;
    margin: 0 auto;
    padding-top: 20px;
}

.filters-container {
    position: sticky;
    top: 15px;
    width: 95%;
    margin: 10px auto;
    padding: 15px 0;
    display: flex;
    flex-flow: row wrap;
    background-color: silver;
    border-radius: 8px;
    border: 2px black solid;
}

.filter {
    width: 18%;
    padding: 0.5em 1%;
    margin: 0.25em 1%;
    font-size: 1.15em;
    font-weight: bold;
    border: 1px black solid;
    border-radius: 2px;
    cursor: pointer;    
    overflow: hidden;
    background-color: grey;
    color: darkgrey;
}

.filter-selected {
    background-color: white;
    color: black;
}

.mini-container {
    border: 1px solid black;
    margin: 0 0 10px 0;
    padding: 10px;
    width: 95%;
    margin-left: 2.5%;
}

.mini-task-header {
    font-weight: 900;
    text-transform: capitalize;
    margin: 0 0 10px 0;
    font-size: 1.75em;
}

.mini-task {
    font-size: 1.5em;
    margin: 10px 0;
    cursor: pointer;
}

.mini-task::before {
    content: "[ ] ";
    font-weight: bold;
    font-family: "monospace";
}

.mini-task.completed::before {
    content: "[✔] ";
    color: #007382;
}

.past { background-color: #ff5722; }
.yesterday { background-color: lightsalmon; }
.today { background-color: #cddc39; }
.tomorrow { background-color: #2196f3; }
.future { background-color: lightseagreen; }

.create-class-button {
    background-color: #e6ffbf;
    border: 1px solid silver;
    border-radius: 50%;
    box-shadow: 0px 0px 9px -5px black;
    color: #178a40;
    font-weight: bolder;
    width: 6rem;
    height: 6rem;
    position: fixed;
    bottom: 5%;
    right: 10%;
    display: flex;
    justify-content: center;
}

.add-icon {
    transform: TranslateY(-50%);
    font-size: 10em;
}

@media only screen and (min-width: 1000px) {
    .task-container {
        margin: 20 auto;
        max-width: 1000px;
        border: 4px solid silver;
        border-radius: 5px;
    }

    .current-task .mini-task-header {
        font-size: 2em;
    }
    
    .current-task .mini-task {
        font-size: 3em;
    }
}
