@use 'base';

.newTask {
    @extend %border, .centered;
    width: fit-content;
    padding: 5px;
    margin: 0 auto;
    grid-gap: 5px;
}

.newTask > input, textarea, select {
    width: 100%;
}

.button {
    @extend %button;
}

.inputerror {
    border-color: #ff6060 !important;
}

.errortext {
    color: red;
}

.hidden {
    display: none;
}

.mini-task::before {
    content: "[ ] ";
    font-weight: bold;
    font-family: "monospace";
}

.mini-task.completed::before {
    content: "[✔] ";
    color: green;
}

.filter-selected {
    background-color: green;
    color: white;
}